{% extends "base.html" %}

{% block content %}
	<h2>Signup</h2>
	<form method="post">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" value="{{uname}}" size="29"></td>
				<td>{{errors.error_uname}}</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" size="30"></td>
				<td>{{errors.error_pw}}</td>
			</tr>
			<tr>
				<td>Verify Password</td>
				<td><input type="password" name="verify_password" size="30"></td>
				<td>{{errors.error_vpw}}</td>
			</tr>
			<tr>
				<td>Email (optional)</td>
				<td><input type="text" name="email" value="{{email}}" size="29"></td>
				<td>{{errors.error_email}}</td>
			</tr>	
			<tr>
				<td><input type="submit" value="Submit"></td>
			</tr>		
		</table>
	</form>
{% endblock %}